<!-- Assignment 1 -->
<!-- 1. add input field which update a property ('username') via two-way binding
2. Output the username property via string interpolation(in para below the input type).
3. Add a button which may onnly be clicked if the username NOT a empty string
4. Upon clicking button, the username should be reset to an empty string -->

<div class="container">
  <div class="form-group">
    <input type="text" placeholder="Username" [(ngModel)]="userName" class="form-control">
  </div>
  <p>{{userName}}</p>

  <button class="btn btn-outline-primary" [disabled]="!userName" (click)="reset()">Reset Name</button>
</div>

