<!-- Assignment 1 :  Practicing databinding -->
<!-- <app-databinding></app-databinding> -->

<!-- Assignment 2: Practicing Directives -->
<!-- <app-directive-practice></app-directive-practice> -->

<!-- Assignment - 3 : data-binding, event-binding (deep dive)  -->
<!-- <app-deep-dive-data-event-binding></app-deep-dive-data-event-binding> -->

<!-- Assignment -5 : services -->
<app-service-component></app-service-component>