<ul>
  <li *ngFor="let taskItem of taskList">{{taskItem}}</li>
</ul>

<div class="container">
  <h5>Solution Implementation</h5>
  <app-game-control (emitNumberEvent)="emittedEvent($event)"></app-game-control>

  <div class="row">
    <div class="col-md-6">
      <app-odd *ngFor="let oNumber of oddNumbers" [oNumber]="oNumber"></app-odd>
    </div>
    <div class="col-md-6">
      <app-even [evenNumbers]="evenNumbers"></app-even>
    </div>
  </div>
</div>