<ul>
  <ng-container *ngFor="let user of users">
    <li *ngIf="!user.active">{{user.name}}
      <button class="btn btn-sm btn-outline-primary" (click)="setToActive(user)">click to active</button>
    </li>
  </ng-container>
</ul>