<!-- 
1. Add a button which says display details
2. Add a para with any content of your choice ( e.g secret password = tuna).
3. Toggle the displaying of that paragraph with button created in first step
4. log all button clicks in an array and output that array below the secreat para (timeStamp or increment no)
5. starting at 5th log item, give all future log items a blue background ( via: ngStyle) and white color (ngClass) 
-->

<div class="container">
  <button (click)="onClick()" class="btn btn-outline-primary">Display Details</button>
  <p *ngIf="isDisplay">{{paragraph}}</p>

  <ul>
    <li *ngFor="let log of logs; index as i"
     [ngStyle]="{backgroundColor: getColor(i)}"
     >{{log}}
    </li>
  </ul>
</div>

