<div class="container">
  <h5 class="display-5">Active Users: </h5>
  <app-active-user></app-active-user>
  <h5 class="display-5">Inactive users : </h5>
  <app-inactive-user></app-inactive-user>
</div>